# Logs
logs
*.log

# Process Images
*.png
*.jpg

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache
__pycache__

# dotenv environment variables file
.env

# Checkpoints
checkpoints/

# Build
build/

# Build Configuration
*.spec

# Dist
dist/

# Output file
output.png
